---
# tasks file for roles/local-accounts

- name: users | create local groups
  become: true
  group:
    gid: "{{ item.gid }}"
    name: "{{ item.group }}"
    state: present
    system: false
  with_items: "{{ local_accounts_groups | default([]) }}"

- name: users | create local users
  become: true
  user:
    append: true
    createhome: true
    groups: "{{ item.groups | default(omit) }}"
    name: "{{ item.user }}"
    password: "{{ item.password | default(omit) }}"
    state: present
    uid: "{{ item.uid }}"
    update_password: on_create
  with_items: "{{ local_accounts_create | default([]) }}"
  register: changes

- name: users | force password change for new users
  become: true
  command: chage -d 0 {{ item.item.user }}
  with_items: "{{ changes.results }}"
  when: "(item.item.require_first_password | default(False)) and item.changed"
  # TODO: Either delete since this is never used, or change to a handler
  tags:
    - skip_ansible_lint

- name: users | ssh authorised keys
  become: true
  become_user: "{{ item.user }}"
  authorized_key:
    exclusive: false
    key: "{{ item.sshpubkey }}"
    manage_dir: false
    state: present
    user: "{{ item.user }}"
  with_items: "{{ local_accounts_create | default([]) }}"
  when: item.sshpubkey is defined

- name: users | delete local users
  become: true
  user:
    name: "{{ item }}"
    state: absent
  with_items: "{{ local_accounts_delete | default([]) }}"
